---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout activeMenu="dj">
    <h1 class="text-4xl font-bold">
        My mixes
    </h1>

    <p class="mt-4">
        My random wrestlings with a Pioneer DDJ-400. Psytrance / Goa, mostly.
    </p>

    <p class="mt-2 text-xs italic">
        Copyrights of the songs are not mine. Please contact me at <a href="mailto:nxu@nxu.hu">nxu@nxu.hu</a>
        with any copyright related issues.
    </p>

    <article class="my-8 p-4 bg-gray-50 dark:bg-gray-800 rounded">
        <h1 class="text-xl font-bold">Psytrance ~140-150 bpm</h1>
        <p class="mt-1 text-sm flex items-start gap-2">
            <span>30:57</span>
            <span>&middot;</span>
            <time datetime="2023-09-12">2023-09-12</time>
            <span>&middot;</span>
            <a href="https://cdn.nxu.hu/random_muzsika.mp3" download="nxu-2023-09-12.mp3" class="underline">
                Download
            </a>
        </p>
        <audio
                class="mt-2 w-full"
                controls
                src="https://cdn.nxu.hu/random_muzsika.mp3"
        ></audio>
    </article>
</MainLayout>
