---
import Header from '../components/Header.astro';
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout activeMenu="home">
    <Header></Header>

    <div class="leading-loose">
        <p class="mb-4">
            Hey, I am nxu, short for Zsolt Fekete. 
            I'm the lead software developer of <a href="https://fws.hu" class="underline">fws</a>, a Hungarian web agency. 
        </p>
        <p class="mb-4">
            In my free time, I also tend to sit behind the screen a lot, 
            I work on small <a href="https://github.com/nxu" class="underline">open-source projects</a>, 
            tinker with electronics, or occasionally play video games.
        </p>
        <p>
            Otherwise I'm a wannabe <a href="/cubing" class="underline" title="My speedcubing stats">speedcuber</a>, a Dungeons and Dragons DM, listen to lots of <a href="https://last.fm/user/nabunub" class="underline">music</a>, and sometimes go on hikes.
        </p>
    </div>
</MainLayout>
