---
import Avatar from './Avatar.astro';
import DarkModeToggle from './DarkModeToggle.astro';
import LinkButton from './LinkButton.astro';
---	
<header class="relative flex flex-wrap md:flex-nowrap gap-4 justify-center md:justify-start items-center mb-12">
    <div class="w-48 md:w-64 mx-auto md:ml-0">
        <Avatar></Avatar> 
    </div>
    <div class="text-center md:text-left">
        <h1 class="text-4xl font-bold">
            Zsolt Fekete (nxu)
        </h1>
        <h2 class="mt-1 text-xl text-gray-600 dark:text-gray-300">
            Software Developer from Sopron, Hungary
        </h2>
        <p class="mt-3 text-sm">
            Lead PHP Web Developer @ <a href="https://fws.hu" class="underline">fws.hu</a>
        </p>
        <p class="mt-3 text-sm">
            Contact me at <a href="mailto:nxu@nxu.hu" class="underline">nxu@nxu.hu</a>
        </p>

        <div class="mt-8 flex gap-2 flex-wrap md:flex-nowrap justify-center md:justify-start">
            <LinkButton href="https://github.com/nxu">GitHub</LinkButton>
            <LinkButton href="https://stackoverflow.com/users/1353677/nxu">StackOverflow</LinkButton>
            <LinkButton href="https://www.linkedin.com/in/nabunub/">LinkedIn</LinkButton>
        </div>
    </div>

    <div class="absolute md:fixed top-1 right-1 md:top-4 md:right-8">
        <DarkModeToggle></DarkModeToggle>
    </div>
</header>
