---
import MenuItem from './MenuItem.astro';

const { active } = Astro.props;
---
<div class="mb-4 flex gap-4 px-3 py-2 bg-gray-50 dark:bg-gray-800 rounded">
    <span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
          </svg>          
    </span>
    <MenuItem active={active == 'home'} href="/">Home</MenuItem>
    <MenuItem active={active == 'cubing'} href="/cubing">Cubing</MenuItem>
</div>