---
import MainLayout from './MainLayout.astro';
import Bpm from '../components/Bpm.astro'

const {frontmatter} = Astro.props;

const meta = {
    title: frontmatter.title,
    description: frontmatter.description,
}
---

<MainLayout activeMenu="dj" meta={meta}>
    <p class="mb-4 text-gray-600 dark:text-gray-300 hover:undeline">
        <a href="/dj">&laquo; Back</a>
    </p>

    <h1 class="text-4xl font-bold">
        {frontmatter.title}
    </h1>

    <article class="prose dark:prose-invert max-w-none">
        <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">
            <time datetime={ frontmatter.date }>{ frontmatter.date }</time>
            -
            <span>nxu (Zsolt Fekete) - DJ Bábmester</span>
            -
            <Bpm>{ frontmatter.bpm }</Bpm>
        </p>
    

        <div class="mb-4" set:html={frontmatter.embed}>
        </div>    

        <p>{ frontmatter.description }</p>

        <slot>
        </slot>
    </article>
</MainLayout>